<!DOCTYPE html>
<html>

  {% include head.html %}

  {% include mathjax.html %}
  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>


  <script>
   function myFunction(id) {
       var x = document.getElementById(id);
       if (x.className.indexOf("w3-show") == -1) {
           x.className += " w3-show";
       } else {
           x.className = x.className.replace(" w3-show", "");
       }
   }
  </script>
  
  
</html>
